@charset "UTF-8";

#skip {z-index: 2;position:fixed;width: 100%;top: 0;left: 0;}
#skip li {width: 100%;}
#skip li a {display: block;width: 100%;line-height: 0px;font-size: 0px;color: #fff;background: #111;text-align: center;}
#skip li a:focus {line-height: 50px;font-size: 20px;}

#wrap {z-index: 1; position:relative;}

/* 헤더 */
#wrap #header {z-index: 3;position: fixed;top: 0;left: 0;width: 100%;height: 80px;background: #000;}
#wrap #header .wrap {width: 100%;}
#wrap #header .wrap .gap {margin: 0 35px;}
#wrap #header .wrap .gap .container {width: 100%;text-align: center;}

/* 로고 */
#wrap #header .wrap .gap .container #logo {float: left;width: 111px;height: 36px;padding: 22px 0 ;}
#wrap #header .wrap .gap .container #logo a {display: inline-block;}
#wrap #header .wrap .gap .container #logo a img {width: 100%;}

/* 메인메뉴(GNB) */
#wrap #header .wrap .gap .container #nav {display: inline-block;}
/* 991 이하이면 조건문 미디어 쿼리(질의) @media all and (max-width:991px) 쎄미콜론 사용 절대하지 마세요 */
@media all and (max-width:991px) {
    #wrap #header .wrap .gap .container #nav {position: absolute;top: 80px;left: 0;width: 100%;display:block;background: #fff;text-align: left;}
} 

#wrap #header .wrap .gap .container #nav > ul{width: 100%;}
#wrap #header .wrap .gap .container #nav > ul > li{position: relative;display: inline-block;margin: 0 15px;}
#wrap #header .wrap .gap .container #nav > ul > li > a{display: block;color: rgba(255,255,255,1);font-weight: 600px;line-height: 80px;font-family: arial;font-size: 14px;transition: color .3s;}
#wrap #header .wrap .gap .container #nav > ul > li > a:hover{color: rgba(255,255,255,.7);}

/* 991 이하이면 */
@media all and (max-width:991px) {
    #wrap #header .wrap .gap .container #nav > ul > li{position: relative;display:block;margin: 0;}
    #wrap #header .wrap .gap .container #nav > ul > li > a{color: rgba(0,0,0,.7);line-height: 45px;text-indent: 20px;}
    #wrap #header .wrap .gap .container #nav > ul > li > a:hover{color: rgba(0,0,0,1);}
}

/* 서브메뉴 (LNB) */
#wrap #header .wrap .gap .container #nav > ul > li .sub {position: absolute;top: 80px;left: 50%;margin-left: -430px;width: 860px;background: #fff;text-align: left;border-radius: 5px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub4 {margin-left: -510px;width: 1020px;background: #fff;text-align: left;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 {margin-left: -400px;width: 800px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub2 ,
#wrap #header .wrap .gap .container #nav > ul > li .sub3 , 
#wrap #header .wrap .gap .container #nav > ul > li .sub5 , 
#wrap #header .wrap .gap .container #nav > ul > li .sub6 {left: -20px;margin-left:0;width: 240px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap {padding: 50px 70px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub2 .sub-gap,
#wrap #header .wrap .gap .container #nav > ul > li .sub3 .sub-gap, 
#wrap #header .wrap .gap .container #nav > ul > li .sub5 .sub-gap, 
#wrap #header .wrap .gap .container #nav > ul > li .sub6 .sub-gap {padding: 15px 30px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub4 .sub-gap {padding: 50px 0px 50px 70px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul {width: 100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li {float: left;width: 180px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub4 .sub-gap > ul > li {width: 220px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 .sub-gap > ul > li {width: 240px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 .sub-gap > ul > li:first-child {width: 180px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl {width: 100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 .sub-gap > ul > li dl {width: auto;margin: 0 15px;}

#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dt {line-height: 40px;color: #000;font-size: 14px;font-weight: 600;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd {position: relative;padding: 7px 0;font-size: 13px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd a {display: block;padding: 3px 0;color: #828282;transition: color .3s;font-weight: 500;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd a:hover {color: #000;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd a i {float: right;}

#wrap #header .wrap .gap .container #nav > ul > li .sub7 .sub-gap > ul > li dl dd a img {width: 100%;}

/* sub : display:none  */
#wrap #header .wrap .gap .container #nav > ul > li .sub1 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub2 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub3 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub4 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub5 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub6 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub7 {display: none;}

/* 메인 메뉴 - 서브 - 서브 */
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub {position:absolute;top:-15px;left: 210px;width: 240px ;margin-left: 1px;background: #fff;border-radius: 5px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap {padding: 15px 30px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap ul {width: 100%;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap ul li {padding: 7px 0;width: 180px;font-size: 13px;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap ul li a {display: block;padding: 3px 0;color: #828282;transition: color, .3s;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap ul li a:hover {color: #000;}

/* sub-sub2 : display:none  */
/* sub2-sub ~ sub4 */
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub2-sub1 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub2-sub2 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub2-sub3 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub2-sub4 {display: none;}

/* sub3-sub1 ~ sub8 */
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub3-sub1 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub3-sub2 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub3-sub3 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub3-sub4 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub3-sub5 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub3-sub6 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub3-sub7 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub3-sub8 {display: none;}

/* sub5-sub1 ~ sub5 */
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub1 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub2 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub3 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub4 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub5-sub5 {display: none;}

/* sub6-sub12 ~ sub13 */
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub6-sub12 {display: none;}
#wrap #header .wrap .gap .container #nav > ul > li .sub .sub-gap > ul > li dl dd .sub6-sub13 {display: none;}


/* 사이드메뉴(ASIDE) */
#wrap #header .wrap .gap .container #aside {float: right;padding: 32.5px 0;}
#wrap #header .wrap .gap .container #aside ul {width: 100%;}
#wrap #header .wrap .gap .container #aside ul li {display: inline-block;margin: 0 10px;}
#wrap #header .wrap .gap .container #aside ul li a {color: rgba(255,255,255,1);font-size: 15px;transition: color .3s;}
#wrap #header .wrap .gap .container #aside ul li a:hover {color: rgba(255,255,255,.7);}

/* 메인 */
#wrap #main {z-index: 2;position: relative;width: 100%;}
#wrap #main #section1 {width: 100%;}
#wrap #main #section1 .wrap {width: 100%;}
#wrap #main #section1 .wrap .gap {width: 100%;}
#wrap #main #section1 .wrap .gap .container {width: 100%;}
#wrap #main #section1 .wrap .gap .container .slide-container {width: 100%;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view {width: 100%;overflow: hidden;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap {width: 500%;margin-left: -100%;} /* js 창 높이 window hegith */
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide {float: left;width: 1903px;height: 1090px;background: url(../img/home-interior-design-slider-img01.jpg)no-repeat 50% 50%;background-size: cover;}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide0 {background-image: url(../img/home-interior-design-slider-img01.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide1 {background-image: url(../img/home-interior-design-slider-img02.jpg);}
#wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide2 {background-image: url(../img/home-interior-design-slider-img03.jpg);}

#wrap #main #section2 {width: 100%;padding: 160px 0 ;background: #fff;}
#wrap #main #section2 .wrap {width: 100%;max-width: 1170px;margin: 0 auto;}
#wrap #main #section2 .wrap .gap {margin: 0 15px;}
#wrap #main #section2 .wrap .gap .container {width: 100%;height: 288px;background: #99c;} /* 임시높이 */


/* 푸터 */
#wrap #footer {z-index: 1;position: relative;} 
#wrap #footer .wrap {}
#wrap #footer .wrap .gap {}
#wrap #footer .wrap .gap .container {}

